*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color:white;
    background-image:
      url("https://t4.ftcdn.net/jpg/05/96/62/65/360_F_596626503_jrzjZNYStDexiWxQFqO7oCh6M8PdMlJs.jpg");
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    min-height: 100vh;
    

}
.barra{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.caja1{
    display:flex;
    justify-content: space-between;
    
    
}
.caja2{
    display:flex;
    
}
.botonNav{
    display: flex;
    padding:10px;
    background-color: transparent;
    border-color: beige;
    color: white;
    font-weight: bold;
    border-radius: 30px;
}
.buscador{
    display: flex;
    background-color: transparent;
    color: white;
    border-radius: 30px;
    border-color: beige;
    width: 300px;
    height: 30px;
    font-size: medium;
    
}

.barra2{
    display:flex;
    padding: 10px;
    background-color: transparent;
    border-color:transparent;
    
}
.Cabecera{
    display: flex;
    margin:auto;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: transparent;
    
    
}
.barra2{
    display: flex;
    justify-content: center;
    height: 50px;
}

.desplegable{
    display: flex;
    background-color: transparent;
    color:white;
    font-weight: bold;
    padding:10px;
    border-color: beige;
    border-radius:30px;
}
.Header{
    display: flex;
    justify-content: center;
}
a{
    display: flex;
    color:transparent
}

.cuadroSesion{
    display: flex;
    
    background-color: rgba(0, 0, 0, 0.729);
    padding-bottom: 50px;
    margin-left: 425px;
    width: 600px;
    height: 400px;
    align-items: center;
    color:white;
    flex-direction: column;
    justify-content: space-around;
    padding: 60px;

}
/*Editamos la descripción del artículo*/

.imagenjersey{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 200px;
    margin-top: 150px;
    
    margin-right: 20px;
    float: left;
}
.descripcion{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    margin-top: 150px;
    
   
}
.detalles{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    color: white;
    margin-top: 30px;
}
.talla_corte{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    color: white; 
    margin-top: 30px;
}
.precio{
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    color: white; 
    margin-top: 30px;
}
select{
    width: 100px;
    height: 30px;
    background-color: beige;
}
button{
    margin-top: 30px;
    background-color: green;
   border-radius: 3px;
    width: 100px;
    height: 40px;
}
.texto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    
}
#mensaje {
    display: none;
    color: chartreuse;
    font-weight: bold;
    margin-top: 10px;
}
.opinion{
    color: white;
}
/*para crear las estrellas de opiniones*/
label{ color:grey;
    direction: rtl;
    unicode-bidi: bidi-override;}
input[type = "radio"]{ display:none;}

label:hover{color:orange;}
label:hover ~ label{color:orange;}
input[type = "radio"]:checked ~ label{color:orange;}
.opinion{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    margin-top: 150px;
}
