body{
    background-color: beige;
    background-image:
      url("https://t4.ftcdn.net/jpg/05/96/62/65/360_F_596626503_jrzjZNYStDexiWxQFqO7oCh6M8PdMlJs.jpg");;
}

.barra{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.caja1{
    display:flex;
    justify-content: space-between;
    
    
}
.caja2{
    display: flex;
    padding:10px;
    color:rgb(255, 255, 255);
    font-weight: bold;
    font-size: large;
}
.caja3{
    display:flex;
    
}
.botonNav{
    display: flex;
    padding:10px;
    background-color: transparent;
    border-color: beige;
    color: white;
    font-weight: bold;
    border-radius: 30px;
}